<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Andrew Portfolio Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="C:\Users\Andre\OneDrive\Documents\Personal Website\htmlcss\image\Dev. Andrew3.png" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <h1>Hi, I'm <span>Andrew</span></h1>
                <p> A Professional Web Developer to help you code the perfect website</p>
                <br>
                <a href="#" class="btn">Hire Me</a>
            </div>
        </div>
    </div>
    <!-- About Section -->
<div id ="about"></div>
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="C:\Users\Andre\OneDrive\Documents\Personal Website\htmlcss\image\AndrewReziseSuitPic.png" alt="Andrew Broll">
            </div>
            <div class ="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Hello! Welcome to my website, my name is Andrew Broll, I am a Web Developer/Full Stack Engineer. I have built this website as a place for
                people to come learn more about me and my work. If you are an employer looking for someone to hire, please feel free to contact me.
                I am developing projects to showcase here currently and look forward to talking with you soon.
                </p>
            
                <div class="tab-titles">
                    <p class ="tab-links active-link">Skills</p>
                    <p class ="tab-links">Experience</p>
                    <p class ="tab-links">Education</p>
                </div>
                <div class="tab-contents active-tab">
                    <ul>
                        <li><span>Full Stack Developer-</span><br>Coding Websites from front to back.</li>
                        <br>
                        <li><span>Javascript and Python-</span><br>Utilizing both of these languages to help code the right website/app for you. </li>
                        <br>
                        <li><span>Databases-</span><br>Utilizing MySQL and other databases to help you understand the customers on your website. </li>
                    </ul>
                </div>
                <div class="tab-contents">
                    <ul>
                        <li><span>Coding Dojo -2022-2023</span><br>Coding Bootcamp where I learned all about full-stack development and coding.</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</body>
</html> 